
fieldset{
  background-color:	#DCDCDC;
  margin-top:10px;
}
label{
  float:left;
  text-align:right;
  margin-right:10px;
  width:80px;
}

div.row{
  margin:10px
}
div.buttons{
  position:relative;
  float:right;
  left:-35%;
}
input[type=button] {
    background-color: blue;
    border-radius:25px;
    border:none;
    color: white;
    padding: 4px 15px;
    text-align: center;
   
    font-size: 14px;
}
input[type=text]::focus {
	border: 2px solid lightblue;
}

select.error{
  background-color:red;
}

input[type=text].error {
 border:1px solid red;
}
span.invisible{
  display:none;
}
input[type=text]{
  border:1px solid black;
  width:50%;
}