table {
    border-collapse: collapse;
    width: 600px;
    margin: inherit;
}

#tableview{
    margin: auto;
    max-width: 600px

}

input{
	text-align: center;
}

button{
	display: inline-block;
	margin: inherit;

}

th {
	height: 50px;
}

table,th,td{
	border: 1px solid black;
	text-align: center;
}

h2, h3 {
	text-align: center;
}

div.header{
	margin: 5px;
}

div.line{
	margin: 5px;
}

div.table{
	margin: 10px;
	padding:10px;
}