#root,#detail{
    width: 80%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
    text-align: left;
    background-color: #084B8A;
    color: white;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5
}

button {
    background-color: #778899;
    border: none;
    color: white;
    margin: 5px;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


 input { 
    border: 1px solid; 
    outline:0; 
    height:25px; 
    width: 50px; 
  } 
